*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Varela Round", arial, Helvetica, sans-serif;;
}

html{
    scrollbar-color: #777 rgb(40, 40, 40);
}

#navBar{
    height: 80px;
    box-shadow: 0px 2px 10px gray;
    background-color: transparent;
    z-index: 999px;
    position: fixed;
    width: 100%;
    max-width: 100%;
    backdrop-filter: blur(1px);
    transition: 0.4s ease transform;
}
.navItems{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
}

.btnsList{
    list-style-type: none;
}

.navBtns ul{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.btnsList a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease-in;
}

.btnsList a:hover{
    color: grey;
}

.btnsList a:active{
    color: darkgray
}

.fa-house{
    color: white;
    transition: all 0.3s;
}

.fa-house:hover{
    color: gray
}

.fa-house:active{
    color: darkgray
}

.hidden {
    transform: translateY(-100%);
}

.selected a{
    color: darkgray
}

.hero{
    color: whitesmoke;
    height: 100%;
    /* height: 100%; */
    background-color: rgb(20,20,20);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.future{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


h1{
    margin-bottom: 1rem;
    color: greenyellow;
    text-align: center;
}

.future ul li{
    margin-bottom: 10px;
}

.future p{
    margin-bottom: 5rem;
}



.advice1Container{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: 5rem;
    margin-right: 5rem;
}

.advice1Container img{
    width: 600px;
    height: 125px;
}

.futureText p{
    width: 100%;
    margin-top: 2rem;
    line-height: 1.5rem;
}

.futureText{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 3rem;
}

.enjoyGL{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(30,30,30);
}


.enjoyGL ol li{
    margin-bottom: 10px;
}





.timeManage{
    margin-left: 5rem;
    margin-right: 5rem;
    width: auto;
}

.timeManage h1{
    width: 100%;
}

.timeManageText{
    width: auto
}

.timeManageText p{
    margin-bottom: 10px;
}

.timeManageText ul li{
    margin-bottom: 10px;
}

.contentProcess{
    display: flex;
    margin-bottom: 3rem;
}

.contentProcessText{
    width: fit-content;
}

.contentProcessPic{
    width: fit-content;
}

.contentProcessPic img{
    width: 500px;
}


.weeklyPlanContainer{
    display: grid;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 1rem;
    grid-template-columns: 1fr 1fr;
    width: auto;
    background-color: rgb(30,30,30);
}


.weeklyPlanImg img{
    display: flex;
    justify-content: center;
    width: 300px;
    
}





footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.socials{
    margin-left: 3rem;
    display: flex;
}

.fa-youtube{
    margin-right: 10px;
}

.youtube a:hover{
    color: darkred
}

.fa-brands.fa-x-twitter :hover{
    color: gray;
}

.navigation{
    margin-right: 3rem;
    margin-left: 0px;
    width: 100%;
}

.navigation h3{
    text-align: center;
}

.footCategories{
    display: flex;
    justify-content: space-between;
    margin-left: 25rem;
    margin-bottom: 1rem;
}


.footCategories ul li{
    list-style-type: none;
    margin-bottom: 1rem;
}

.footCategories ul li a{
    text-decoration: none;
    color: rgb(213, 214, 213);
    transition: all 0.2s;
}

.footCategories ul li a:hover{
    color: white;
}

.footCategories ul li a:active{
    color:gray;
}

.footCategories h4{
    margin-bottom: 1rem;
}






.load-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
}
  
.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
  
.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: white;
}
  
.bubble-2 {
    top: auto;
    bottom: 0;
}
  
.load-9 .spinner {
    animation: loadingI 2s linear infinite;
}
.load-9 .bubble-1,
.load-9 .bubble-2 {
    animation: bounce 2s ease-in-out infinite;
}
.load-9 .bubble-2 {
    animation-delay: -1s;
}
  
  
@keyframes loadingI {
    100% {
      transform: rotate(360deg);
    }
  }
  
@keyframes bounce {
    0%,
    100% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
  }
  